@if (isVisible) {
<div class="navbar fixed top-0 left-0 h-[8vh] bg-white shadow-sm">
    <div class="navbar-start">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle" (click)="toggleNavbar()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
            </svg>
        </div>
    </div>
    <div class="navbar-center">
        <a class="btn btn-ghost text-xl">
            <lucide-icon name="bot-message-square" *ngIf="user?.role == 'Customer' || user?.role == 'Admin'"
                class="w-10 h-10 stroke-white fill-blue-600">
            </lucide-icon>
            <lucide-icon name="bot-message-square" *ngIf="user?.role == 'Agent'"
                class="w-10 h-10 stroke-white fill-purple-600">
            </lucide-icon>Customer Support -
            @if(user?.role == 'Agent'){
            Agent
            }@else {
            Customer
            }
        </a>
    </div>
    <div class="navbar-end">
        <button class="btn btn-ghost btn-circle" (click)="toggleNotification()" *ngIf="user">
            <div class="absolute top-1 -right-1" *ngIf="notificationAvailable()">
                <lucide-icon name="dot" class="w-10 h-10 stroke-blue-600">
                </lucide-icon>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
        </button>
    </div>
</div>
}