<div class="relative w-full h-[80vh] flex flex-col" *ngIf="authService.currentUser$ | async as user">
    <div #scrollContainer class="p-4 space-y-2 overflow-y-auto grow">
        @if(chatMessages.length > 0){
        @for (msg of chatMessages; track $index) {
        <div [ngClass]="user.username == msg.userId ? 'text-right' : 'text-left'">
            <div *ngIf="msg.message" [ngClass]="user.username != msg.userId
                ? 'inline-block bg-gray-200 text-black rounded-lg p-2 max-w-xs'
                : 'inline-block bg-blue-500 text-white rounded-lg p-2 max-w-xs'">
                <p class="text-sm" *ngIf="msg.message">{{ msg.message }}</p>
                <span class="block text-[0.5rem] mt-1 text-gray-400">{{ msg.createdAt | date:'short' }}</span>
            </div>
            <div *ngIf="msg.imageName" class="inline-block min-h-96" (click)="previewImage(msg.imageName)">
                <img *ngIf="msg.imageName"
                    [src]="getImage(msg.imageName) || 'https://placehold.co/600x400?text=Loading...'"
                    alt={{msg.imageName}} class="mt-2 max-w-xs rounded text-sm object-cover h-80" />
                <span class="block text-[0.5rem] mt-1 text-gray-400">{{ msg.createdAt | date:'medium' }}</span>
            </div>
        </div>
        }}
        @else {
        <div class="text-center pt-5">No Messages yet..</div>
        }
    </div>

    <div class="w-full h-96 bg-white absolute bottom-20 left-0 rounded-lg shadow-lg inline-flex justify-center p-2"
        *ngIf="previewVisible()">
        <lucide-icon name="circle-x" *ngIf="user.role == 'Customer'" strokeWidth="1" (click)="onPreviewClose()"
            class="w-6 h-6 fill-blue-500 stroke-gray-50 cursor-pointer absolute top-1 right-2"></lucide-icon>
        <lucide-icon name="circle-x" *ngIf="user.role == 'Agent'" strokeWidth="1" (click)="onPreviewClose()"
            class="w-6 h-6 fill-sky-500 stroke-gray-50 cursor-pointer absolute top-1 right-2"></lucide-icon>

        <img [src]="('data:image/jpeg;base64,'+ previewImageUrl) " alt="" class="h-full rounded-lg ">
    </div>
    <form action="" (ngSubmit)="onSendMessage()" *ngIf="chat?.status == 'Active'">
        <div
            class="w-full px-3 py-3 shrink-0 flex items-center gap-4 bg-white shadow-lg border-gray-300 rounded-2xl p-5 mb-2">
            <lucide-icon name="upload" strokeWidth="2" (click)="imageUpload.click()" *ngIf="user.role == 'Customer'"
                class="w-6 h-6 fill-gray-50 stroke-blue-500 cursor-pointer"></lucide-icon>
            <lucide-icon name="upload" strokeWidth="2" (click)="imageUpload.click()" *ngIf="user.role == 'Agent'"
                class="w-6 h-6 fill-gray-50 stroke-sky-500 cursor-pointer"></lucide-icon>
            <input #imageUpload type="file" style="display: none;" (change)="onFileSelected($event)"
                accept="image/png, image/jpeg">
            <input type="text" placeholder="Type to send message..." name="message" [(ngModel)]="message"
                autocomplete="off" [disabled]="file != null"
                class="input rounded-xl w-full placeholder:text-gray-400" />
            <button type="submit">
                <lucide-icon name="send-horizontal" strokeWidth="1" *ngIf="user.role == 'Customer'"
                    class="w-8 h-8 fill-blue-500 stroke-gray-50 cursor-pointer"></lucide-icon>
                <lucide-icon name="send-horizontal" strokeWidth="1" *ngIf="user.role == 'Agent'"
                    class="w-8 h-8 fill-sky-500 stroke-gray-50 cursor-pointer"></lucide-icon>

            </button>
        </div>
    </form>
    <div *ngIf="chat?.status == 'Deleted'"
        class="w-full px-3 py-3 shrink-0 flex items-center justify-center gap-4 bg-white shadow-lg border-gray-300 rounded-2xl p-5 mb-2">
        <lucide-icon name="ticket-check" strokeWidth="1" *ngIf="user.role == 'Customer'"
            class="w-8 h-8 fill-blue-500 stroke-gray-50 cursor-pointer"></lucide-icon>
        <lucide-icon name="ticket-check" strokeWidth="1" *ngIf="user.role == 'Agent'"
            class="w-8 h-8 fill-sky-500 stroke-gray-50 cursor-pointer"></lucide-icon>

        <p class="font-medium">Issue has been resolved</p>
    </div>
</div>