<h4>Create Product</h4>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-4" style="width: 25rem;">
    <input formControlName="productName" placeholder="Product Name" class="form-control"/>
    <input formControlName="image" placeholder="Image URL" class="form-control"/>
    <input formControlName="price" type="number" placeholder="Price" class="form-control"/>

    <select formControlName="categoryId" class="form-control">
        <option [value]="null">Select Category</option>
        <option *ngFor="let cat of categories" [value]="cat.categoryId">{{ cat.name }}</option>
    </select>

    <select formControlName="colorId" class="form-control">
        <option [value]="null">Select Color</option>

        <option *ngFor="let c of colors" [value]="c.colorId">{{ c.color1 }}</option>
    </select>

    <select formControlName="modelId" class="form-control">
        <option [value]="null">Select Model</option>

        <option *ngFor="let m of models" [value]="m.modelId">{{ m.model1 }}</option>
    </select>

    <select formControlName="userId" class="form-control">
        <option [value]="null">Select User</option>
        <option *ngFor="let s of users" [value]="s.userId">{{ s.username }}</option>
    </select>

    <input formControlName="sellStartDate" type="datetime-local" class="form-control" />
    <input formControlName="sellEndDate" type="datetime-local" class="form-control" />

    <label>
        Is New:
        <select formControlName="isNew" class="form-control">
            <option [value]="1">Yes</option>
            <option [value]="0">No</option>
        </select>
    </label>

    <button type="submit" class="btn btn-primary">Create Product</button>
</form>