<form class="rounded-lg bg-white pt-5 pb-10 px-10 register-form w-[30rem]" [formGroup]="chatForm"
    (ngSubmit)="onSubmit()">
    <div class="flex  items-center justify-center w-full gap-3">
        <lucide-icon name="message-square-plus" class="w-8 h-8 stroke-white fill-blue-600"></lucide-icon>
        <p class="text-xl font-medium">Having an issue ?</p>
    </div>
    <div class="mt-5">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Issue</legend>
            <input type="text" class="input w-full" placeholder="" formControlName="issueName" />
            @if (issueName.touched && (issueName.errors?.minlength || issueName.errors?.maxlength)){
            <p class="text-red-500">
                Issue length must be 5 to 20
            </p>
            }
            @else if(issueName.touched && issueName?.errors){
            <p class="text-red-500">
                Enter a valid issue
            </p>
            }
        </fieldset>
    </div>

    <div class="mt-5">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Issue Description</legend>
            <input type="text" class="input w-full" placeholder="" formControlName="issueDescription" />
            @if (issueDescription.touched && (issueDescription.errors?.minlength ||
            issueDescription.errors?.maxlength)){
            <p class="text-red-500">
                Description length must be 20 to 100
            </p>
            }
            @else if(issueDescription.touched && issueDescription?.errors){
            <p class="text-red-500">
                Enter a valid description
            </p>
            }
        </fieldset>
    </div>
    <button class="btn btn-soft bg-blue-600 text-white w-full mt-10 cursor-pointer hover:bg-blue-700"
        [disabled]="isSubmitting()">
        @if (isSubmitting()) {
        Finding Support...
        }@else {
        Get Support
        }
    </button>
</form>