

<div *ngFor="let item of newsList" class="main-content">
  <div class="content-image">
    <a href="#"><img [src]="item.image" alt="{{ item.title }}" /></a>
  </div>
  <div class="content-title">
    <a [routerLink]="['/news', item.newsId]">{{ item.title }}</a>
  </div>
  <div class="content-price"></div>
</div>

<div class="clear"></div>

<div>
  Page {{ currentPage }}/{{ pageCount }}
</div>

<div class="div-pagination">
  <button *ngFor="let page of pageNumbers"
          (click)="goToPage(page)"
          [disabled]="page === currentPage">
    {{ page }}
  </button>
</div>
