<div class="w-full flex justify-center items-start pt-16" *ngIf="authService.currentUser$ | async as auser">
    <form class="rounded-lg bg-white p-10 shadow-lg w-full max-w-md" [formGroup]="userform" (ngSubmit)="onSubmit()">
        <div class="flex items-center justify-between gap-3 mb-6">
            <div class="flex items-center gap-3 ">
                <lucide-icon name="circle-user" *ngIf="auser.role == 'Customer'"
                    class="w-8 h-8 stroke-blue-600"></lucide-icon>
                <lucide-icon name="circle-user" *ngIf="auser.role == 'Agent'"
                    class="w-8 h-8 stroke-sky-600"></lucide-icon>

                <p class="text-xl font-medium">User Profile</p>
            </div>
            <lucide-icon (click)="enableEditing()" *ngIf="!isEditing() && auser.role == 'Customer'" name="square-pen"
                class="w-6 h-6 stroke-blue-600 cursor-pointer"></lucide-icon>
            <lucide-icon (click)="enableEditing()" *ngIf="!isEditing() && auser.role == 'Agent'" name="square-pen"
                class="w-6 h-6 stroke-sky-600 cursor-pointer"></lucide-icon>

            <lucide-icon (click)="disableEditing()" *ngIf="isEditing() && auser.role == 'Customer'" name="circle-x"
                class="w-6 h-6 stroke-blue-600 cursor-pointer"></lucide-icon>
            <lucide-icon (click)="disableEditing()" *ngIf="isEditing() && auser.role == 'Agent'" name="circle-x"
                class="w-6 h-6 stroke-sky-600 cursor-pointer"></lucide-icon>
        </div>

        <!-- Name -->
        <div class="mb-5">
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Name</legend>
                <input type="text" class="input w-full disabled:text-gray-600" placeholder="Enter your name"
                    formControlName="name" [disabled]="isEditing()" />
                <p *ngIf="name?.touched && name?.invalid" class="text-red-500 text-sm mt-1">
                    Enter a valid name
                </p>
            </fieldset>
        </div>

        <!-- Phone -->
        <div class="mb-5" *ngIf="auser?.role == 'Customer'">
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Phone</legend>
                <input type="text" class="input w-full disabled:text-gray-600" placeholder="Enter your phone number"
                    formControlName="phone" [disabled]="isEditing()" />
                <p *ngIf="phone?.touched && phone?.invalid" class="text-red-500 text-sm mt-1">
                    Enter a valid phone number
                </p>
            </fieldset>
        </div>

        <div class="mb-5" *ngIf="auser?.role == 'Agent'">
            <fieldset class="fieldset">
                <legend class="fieldset-legend">DOJ</legend>
                <input type="text" class="input w-full disabled:text-gray-600" placeholder="Enter date of join"
                    formControlName="dateOfJoin" [disabled]="isEditing()" />
                <p *ngIf="dateOfJoin?.touched && dateOfJoin?.invalid" class="text-red-500 text-sm mt-1">
                    Enter a valid date
                </p>
            </fieldset>
        </div>

        <button *ngIf="isEditing()" type="submit" [ngClass]="{'bg-blue-600 hover:bg-blue-700' : auser.role == 'Customer', 'bg-sky-600 hover:bg-sky-700' : auser.role == 'Agent'}" class="btn  text-white w-full mt-6 ">
            Update Profile
        </button>
    </form>
</div>